
body{
	background-image:url(imagen/fondo1.jpg);
	background-repeat:repeat-x;
	background-size:auto 100%;
	background-color:#a1c1df;		
	width:100%;
	height:1200px;
	font-family:Verdana, Geneva, sans-serif;	
	margin:0 auto;		
	box-sizing:border-box;
}	
#contenido1{
	width:100%;
	
}

  
 nav{
		background-color:#6699cc;
		width:100%;		
		font-size:1.2em;					
		height:40px;
		margin-top:10px;			
		box-sizing:border-box;		
		
	}
	nav a{
		display:block;
		color:#fff;
		width:10%;;
		margin-left:7%;
		box-sizing:border-box;
		text-decoration:none;
		float:left;
		text-align:center;
		padding-top:12px;
		
		
	}
	nav a:hover{
		display:block;
		color:#ffee00;
		transition:2s;
	}
  .icono {
	margin-left:600px;
		
  }
		
	footer{
		height:80px;
		background-color:#fff;
	}
	.icon1{
		width:100%;
		padding-left:60%;
	}
	.logo{
		width:225px;
		padding-top:2px;				
		box-sizing:border-box;
	}
	p,li{
		font-size:0.8em;
	}
		
	.caja{
	width:90%;			
	box-sizing:border-box;
}

#caja{
	width:40%;
	height:100px;	
	color:#333;
	margin-left:115px;			
	box-sizing:border-box;
}
#map1{
	width:80%;
	float:left;
}
form{
	width:80%;
	float:left;
}
#boton{
	width:30%;
	height:30px;
	margin-top:0px;
	position:relative;
	float-left:5%;
	}
	.boton{
		width:100%;
		}
